.box-register {
  background-color: white;
  width: 35%;
  padding-left: 5px;
  padding-right: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-img-logo{
  display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 5%;
    padding: 17px;
    margin: auto;
    margin-bottom: -4rem;
}

.myform {
  width: 85%;
  padding: 2rem;
  padding-top: 2rem;
}

.alert {
  padding: 10px 20px;
  background-color: #00a051;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  display: none;
}

.modalText {
  font-size: 20px;
  padding-bottom: 1rem;
}

.username,
.fullName,
.email,
.number,
.password {
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  padding: 12px;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  width: 100%;
  font-size: small;
  margin-bottom: 15px;
}

.error {
  color: red;
  size: 80%;
}
.hidden {
  display: none;
}

.modal-pin {
  padding-bottom: 35px; 
}

.registerButton {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(2, 141, 65);
  border-radius: 4px;
  background: rgb(2, 141, 65);
  color: white;
  cursor: pointer;
  float: right;
  margin-right: 1rem;
  text-decoration: none;
  display: inline;
}

.label-img{
  margin-top: -4rem;
}

.login-p{
  font-size: 20px;
}

.login-small{
  font-size: 15px;
  color: gray;
  padding: 0;
}

.login-head{
  margin-bottom: 2rem;
}

.shuttleBtn{
  text-align: right;
}

.phone-input{
  width: 25.7rem;
  border: none;
  margin-bottom: 2rem;
}

.input-verify{
  width: 100%;
  height: 32px;
  font: inherit;
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-bottom: 1.5rem;
  padding: 0.15rem 0.25rem;
}

.btn-right{
  float: right;
  width: 6rem;
  color: white;
  margin-top: 2rem;
  border: solid 1px #00a051;
  height: 2rem;
  background-color: #00a051;
  cursor: pointer;
}

.btn-left{
  margin-top: 2rem;
  border: solid 1px #00a051;
  height: 2rem;
  color: white;
  cursor: pointer;
  float: left;
  width: 6rem;
  background-color: #00a051;
}


@media (max-width: 768px){
  .box-register {
    background-color: white;
    width: 55%;
    padding-left: 5px;
    padding-right: 20px;
      margin: 100px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
}