.drawer{
    text-align: center;
    height: 25rem;
    width: 13rem;
    padding: 20px;
}

.drawer li{
    margin-bottom: 2rem;
    list-style: none;
    
}

.drawer a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

.drawer a:hover{
    color: rgb(2, 141, 65);
}

@media (max-width: 414px){
    .drawer{
        text-align: center;
        margin-left: -1.3rem;
        margin-top: 1rem;
        height: 22rem;
        width: 13rem;
        padding: 0.5px;
        font-size: 12px;
    }
}