.formDiv {
  width: 40%;
  background-color: rgb(0, 51, 153);
  height: 39.4rem;
  margin-top: -11rem;
  margin-right: 6rem;
  width: 33rem;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.formDiv-form {
  padding: 45px;
}

.formDiv-div {
  padding-top: 25px;
}

.formDiv-div2 {
  padding-left: 45px;
  padding-top: 5px;
}

.formDiv-sec {
  width: 100%;
}

.formDiv-sec-div {
  width: 55%;
}

.formDes {
  padding-top: 94px;
}

.formDes-p {
  padding-bottom: 15px;
}

.input-calculator {
  width: 90%;
  border: none;
  padding: 11px 12px;
  background-color: rgb(7, 7, 105);
  color: rgb(209, 209, 204);
  border-radius: 6 px;
  font-size: 18px;
}
