.info-p {
  color: rgb(194, 193, 193);
  font-size: 18px;
  padding-top: 12px;
}

.info-h1{
    font-weight: bolder; font-size: 51px
}

.startbtn-a{
    color: white; text-decoration: none
}
  
  #startBtn {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 6px;
    padding: 18px;
    width: 8rem;
    cursor: pointer;
    margin-top: 15px;
  }

  .info-div{
    width: 29%
  }
  
