.questions {
  margin-left: 12rem;

}

.FAQs {
  background-color: white;
  padding: 13px;
  width: 83%;
  border-radius: 6px;
  border: 1px solid rgb(22, 189, 22);
}

.FAQsHide1 {
  background-color: #d7eee3;
  padding: 14px;
  width: 83%;
}

.showFAQs {
    cursor: pointer;
    color: rgb(22, 189, 22);
  }

  @media (max-width: 768px){
    .questions {
      margin-left: 6rem;
    
    }
  }

  @media (max-width: 414px){
    .questions {
      margin-left: 2rem;
    
    }

    .FAQs {
      background-color: white;
      padding: 8px;
      width: 76%;
      font-size: 11px;
      border-radius: 6px;
      border: 1px solid rgb(22, 189, 22);
    }
    
  }