.questions {
  margin-left: 12rem;

}

.FAQs {
  background-color: white;
  padding: 13px;
  width: 83%;
  border-radius: 6px;
  border: 1px solid rgb(22, 189, 22);
}

.FAQsHide1 {
  background-color: #d7eee3;
  padding: 14px;
  width: 83%;
}

.showFAQs {
    cursor: pointer;
    color: rgb(22, 189, 22);
  }
